@use "shared/styles/base";
@use "shared/styles/components";

.inputsBlock {
  grid-column-end: 3;
  display: inline-flex;
  grid-column-start: 1;
  align-items: flex-end;

  > div {
    margin-bottom: 0;
    margin-right: 1em;
  }
}

.inputsBlock.grow {
  animation: 0.25s linear 0s slideRight;
}

.inputsBlock.shrink {
  transform: translateY(-100%);
  animation: 0.25s linear 0s slideUp;
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.removeBlockBtn,
.addBlockBtn {
  @include base.resetButton();
  margin: 5px;
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 8px;

  &::after,
  &::before {
    top: 10px;
    left: 19px;
    width: 2px;
    content: "";
    height: 20px;
    position: absolute;
    background-color: white;
  }
}

.removeBlockBtn {
  background-color: rgb(255, 0, 0);

  &:hover {
    background-color: rgb(210, 0, 0);
  }

  &:active {
    background-color: rgb(190, 0, 0);
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.addBlockBtn {
  background-color: rgb(213, 235, 205);

  &:hover {
    background-color: rgb(199, 221, 191);
  }

  &:active {
    background-color: rgb(181, 199, 174);
  }

  &::after,
  &::before {
    background-color: rgb(44, 60, 45);
  }

  &::after {
    transform: rotate(90deg);
  }
}
