@use "shared/styles/base";

.title {
  margin: 1em;
  font-weight: 400;
}

.inputField {
  input {
    @include base.resetInput();

    padding: 0.5em;
    font-size: 16px;
    color: rgb(149, 141, 141);
    border: 1px solid rgb(79, 77, 77);
  }

  label {
    display: block;
    font-size: 18px;
    margin-bottom: 0.5em;
  }

  margin-bottom: 1em;
}

.inputError {
  color: red;
  display: block;
  margin-top: 6px;
  font-style: italic;
}

.submitBtn {
  @include base.resetButton();
  padding: 1em;
  color: white;
  display: block;
  margin-top: 2em;
  font-size: 18px;
  min-width: 100px;
  border-radius: 10px;
  background-color: rgb(48, 177, 48);

  &:hover {
    background-color: rgb(26, 126, 26);
  }

  &:active {
    background-color: rgb(19, 87, 19);
  }

  > div,
  > div::after {
    margin: 0;
    width: 10px;
    height: 10px;
    margin: auto;
  }
}
