@use "shared/styles/components";

.title {
  margin: 1em;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

.addMedicineForm {
  gap: 2em;
  margin: auto;
  display: grid;
  width: fit-content;
  grid-template-columns: 300px 300px;
}

.errorBlock {
  width: 700px;
  grid-column: 1;
}
