@use "shared/styles/base";

.dosageForm {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 2px solid rgba(163, 159, 159, 0.596);
}

.deleteMedicineBtn {
  @include base.resetButton();
  width: 200px;
  color: white;
  font-size: 16px;
  margin-left: 50%;
  padding-block: 1em;
  transform: translateX(-50%);
  background-color: #f44336;

  &:hover {
    background-color: #c8372d;
  }

  &:active {
    background-color: #79231d;
  }
}
