.controlPanel {
  width: 100%;
  display: flex;
  margin-block: 3em;
  flex-direction: row;
  justify-content: space-between;
}

.orderBySelect {
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 0.5em;
  }
}
