.doctorCard {
  width: 370px;
  padding: 1em;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 5px #0000007a, -1px -1px 5px #0000007a;

  h2 {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 0.75em;
  }

  > div {
    gap: 2em;
    display: flex;
    justify-content: center;
  }

  span {
    font-size: 17px;
  }

  strong {
    font-weight: 500;
    margin-right: 6px;
  }
}
