.mainContainer {
  width: 80%;
  padding: 2.5em;
  height: fit-content;
  flex-direction: column;
  margin: 2.5em auto 0 auto;
  background-color: white;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2), -1px -1px 12px rgba(0, 0, 0, 0.2);
}
