@use "./base";

.mainContainer {
  width: 80%;
  padding: 2.5em;
  padding-bottom: 5em;
  height: fit-content;
  flex-direction: column;
  margin: 2.5em auto 0 auto;
  background-color: white;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2), -1px -1px 12px rgba(0, 0, 0, 0.2);
}

.submitBtn {
  @include base.resetButton();
  width: 248px;
  height: 60px;
  grid-column: 2;
  color: white;
  font-size: 18px;
  margin-top: 1em;
  border-radius: 10px;
  background-color: rgb(64, 156, 64);

  &:hover {
    background-color: rgb(55, 131, 55);
  }

  &:active {
    background-color: rgb(37, 87, 37);
  }
}

.formTitle {
  margin: 1em;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

.form {
  gap: 2em;
  margin: auto;
  display: grid;
  width: fit-content;
  overflow-x: hidden;
  grid-template-columns: 300px 300px;
}
